<html>
    <head>
        <title></title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="icon" src="https://sangamnercollege.edu.in/images/shikshan-logo.png">
                    <img class="clgimg" src="https://sangamnercollege.edu.in/images/gallery/gallery7.jpg">
                </div>
                <div class="col-mg-6">   
                    <div class="options">
                        <ul>
                            <li><a href="" >Online Admission</a></li>
                            <li><a href="" >contacts</a></li>
                            <li><a href="" >Courses</a></li>
                            <li><a href="" >Campus</a></li>
                            <li><a href="" >Know More About college</a></li>
                        </ul>
                    </div>
                </div> 
            </div>       
        </div>    
        <img class="lawn" src="https://sangamnercollege.edu.in/images/footer-img.jpg">
    </body>
</html>