<html>
    <head>
        <title></title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="img">
                        <!-- <img class="icon" src="https://sangamnercollege.edu.in/images/shikshan-logo.png"> -->
                        <img class="clgimg" src="https://sangamnercollege.edu.in/images/gallery/gallery7.jpg">
                    </div> 
                </div>
                <div class="col-md-3">
                    <img class="icon" src="https://sangamnercollege.edu.in/images/shikshan-logo.png">
                    <div class="options">
                        <ul>
                            <li><a href="" >Online Admission</a></li>
                            <li><a href="" >contacts</a></li>
                            <li><a href="" >Courses</a></li>
                            <li><a href="" >Campus</a></li>
                            <li><a href="" >Know More About college</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="text">
                            <h5>Shikshan Prasarak Santha's</h5>
                            <h5>Sangamner Nagarpalika Arts,</h5>
                            <h5>D.J.Malpani Commerce and</h5>
                            <h5>B.N.Sarda Science College, Sangamner</h5>
                            <h6>(Autonomous College)</h6>
                    </div> 
                </div>
                <div class="col-md-6">
                     <img class="lawn" src="https://sangamnercollege.edu.in/images/footer-img.jpg">
                </div>
            </div>
        </div>
            

    </body>
</html>