/* .card-body{
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 20px;
}
.btn-gmail{
    background: #ED4145;
    border: 0px solid white;
    margin-left:0px;
    color: white;
}
.btn-facebook{
    background: #0d6efd;
    border: 0px solid white;
    color: white;
}
.card{
    background-color: rgba(245, 245, 245, 0.0);
    border: white;
} */