<html>
    <head>
        <title>Forget Password</title>
    </head>
    <body>
        <form>
            <div class="reset">
                <input type="text" name="name1" id="name" placeholder="Enter Name" required>
                <input type="password" name="password" id="newpassword" placeholder="Enter New  Password" required>
                <input type="password" name="password" id="confirmpassword" placeholder="Enter Confirm Password" required> 
            </div>
            
        </form>
    </body>
</html>