
<html>
    <head>
        <title>newaccount</title>
    </head>
    <body>
        <img class="icon" src="https://sangamnercollege.edu.in/images/shikshan-logo.png">
        <form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">
            <input type="text" name="name" placeholder="Enter Name" ngModel required><br><br>
            <input type="email" name="email" placeholder="Enter Email-ID" ngModel required><br><br>
            <input type="password" name="password" placeholder="Enter Password" ngModel required><br><br>
            <input type="number" name="number" placeholder="Enter Mobile No." ngModel required>
            <button type="submit" name="submit" class="submit">SUBMIT</button>
            <!-- <p *ngFor="let data of collection">
                {{data.age}}
            </p> -->
        </form>
    </body>
</html>