
<html>
    <head>
        <title>newaccount</title>
    </head>
    <body>
        <img class="icon" src="https://sangamnercollege.edu.in/images/shikshan-logo.png">
        <form>
            <input type="text" name="text" placeholder="Enter Name" required><br><br>
            <input type="email" name="email" placeholder="Enter Email-ID" required><br><br>
            <input type="password" name="password" placeholder="Enter Password" required><br><br>
            <input type="number" name="number" placeholder="Enter Mobile No." required>
            <button type="submit" name="submit" class="submit">SUBMIT</button>
            <!-- <p *ngFor="let data of collection">
                {{data.age}}
            </p> -->
        </form>
        <div>
        </div>
    </body>
</html>