<html>
    <head>
        <title></title>
    </head>
    <body>
        <img class="icon" src="https://sangamnercollege.edu.in/images/shikshan-logo.png">
        <form  #userComments="ngForm" (ngSubmit)="onSubmit(userComments.value)" class="row g-3" id="form">
            <!-- <div class="form1"> -->
                <div class="col-md-3">
                <label for="inputEmail4" class="form-label">Student's Name</label>
                <input type="name" class="form-control" name="name" id="name" ngModel>
                </div>
                <div class="col-md-3">
                <label for="inputEmail4" class="form-label">Email-Id</label>
                <input type="email" class="form-control" name="email" id="inputEmail4" placeholder="abc12@gmail.com" ngModel>
                </div>
                <div class="col-md-2">
                <label for="inputPassword4" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="inputPassword4" ngModel>
                </div>
                <div class="col-md-3">
                <label for="inputAddress" class="form-label">Temporary Address</label>
                <input type="text" class="form-control" name="Temporary Address" id="inputAddress" placeholder="1234 Main St" ngModel>
                </div>
                <div class="col-md-3">
                <label for="inputAddress2" class="form-label">Permanent Address</label>
                <input type="text" class="form-control" name="Permanent Address" id="inputAddress2" placeholder="Apartment, studio, or floor" ngModel>
                </div>
                <div class="col-md-2">
                <label for="inputCity" class="form-label">City</label>
                <select id="inputCity" name="City" class="form-select" ngModel>
                    <option selected>Choose...</option>
                    <option>Sangamner</option>
                    <option>Sinnar</option>
                    <option>Pune</option>
                    <option>Nasik</option>
                </select>
                </div>
                <div class="col-md-2">
                <label for="inputState" class="form-label">State</label>
                <select id="inputState" name="State" class="form-select" ngModel>
                    <option selected>Choose...</option>
                    <option>Maharastra</option>
                    <option>Tamilnadu</option>
                    <option>Punjab</option>
                    <option>MAdhya Pradesh</option>
                    <option>Gujarat</option>
                </select>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label for="pdf" class="form-label">FY Result pdf</label>
                        <input type="file" class="form-control" id="pdf" aria-label="file example" required>
                        <!-- <div class="invalid-feedback">Example invalid form file feedback</div> -->
                    </div> 
                    <div class="col-md-3">
                        <label for="pdf" class="form-label">SY Result pdf</label>
                        <input type="file" class="form-control" id="pdf" aria-label="file example" required>
                    </div> 
                    <div class="col-md-3">
                        <label for="pdf" class="form-label">Self Photo pdf</label>
                        <input type="file" class="form-control" id="pdf" aria-label="file example" required>
                    </div> 
                    <div class="col-md-3">
                        <label for="pdf" class="form-label">Signature pdf</label>
                        <input type="file" class="form-control" id="pdf" aria-label="file example" required>
                    </div> 
                </div>
                <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                    Check me out
                    </label>
                </div>

                </div>
                <div class="col-12">
                <button type="submit"  class="btn btn-primary" id="submit" ngModel>Submit Form</button>
                <button type="clear"  class="btn btn-primary" id="clear">Clear Form</button>
                </div>
            <!-- </div> -->

        </form>
    </body>
</html>